.big {
    font-size: 2.5rem;
    font-weight: 800;
}
.semiBig {
    font-size: 1.6rem;
    font-weight: 500;
}
.remove {
    text-decoration: none;
    color: white;
    margin: 1rem;
}

.test {
    background-color: #2C3E50 !important; 
}
.active {
    background-color: #1ABC9C !important;
    
}