section {
    background-color: #1ABC9C;
}

.test::after {
    content: "";
    background-color: white;
    position: absolute;
    top: 47%;
    right: 175%;
    height: 5px;
    width: 150px;
}

.test::before {
    content: "";
    background-color: white;
    position: absolute;
    top: 47%;
    left: 175%;
    height: 5px;
    width: 150px;
} 

.line1 {
    background-color: white;
    height: 5px;
    width: 150px;
}